@model CS4790A3.Models.Runners


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <tr class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.contactID)
        
        <td>
            @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
        </td>
        
        <td>
            @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.tShirt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tShirt, "", new { @class = "text-danger" })
        </td>
        <td>
            <input type="submit" value="Add" class="btn btn-default" />
        </td>
    </tr>
}


