@model CS4790A3.Models.ViewModel

@{
    ViewBag.Title = "Registrant";
}
<div class="row">
    <div class="col-md-4">
        <h2>View</h2>

        <div>
            <h4>Registrant</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Contact.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.suffix)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.suffix)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.T_shirt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.T_shirt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.e_contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.e_contact)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact.e_phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact.e_phone)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Registrants")
        </p>
    </div>
    <div class="col-md-4">
        <h3>Runners</h3>
        <p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Runners[0].firstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Runners[0].lastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Runners[0].tShirt)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Runners)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tShirt)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
                @Html.Partial("AddRunner", new ViewDataDictionary(Model.RunnersModel))

                
            </table>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Runner" id="subRunner" class="btn btn-default" />
                </div>
            </div>
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#subRunner').on('click', function () {

            var $runnerForm = $('.runner').find('form');

            if ($runnerForm.valid()) {
                $runnerForm.submit();
                //console.log($runnerForm.find('input'));
                //$.ajax({
                //    url: "/Home/AddRunner",
                //    data: JSON.stringify($runnerForm.find('input')),
                //    type: "POST",
                //    success: function (data) {
                //        console.log(data);
                //    }
                //});
            }

        });
    });
</script>